@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --black: #222831;
    --dark-grey: #30475e;
    --grey-yellow: #f2a365;
    --grey:  #ececec;
}

body{
    background-color: var(--black);
    font-family: 'Montserrat', 'open-sans';
}
main{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* z-index: 101; */
}
.btn-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
}
.btn{
    white-space: nowrap;
    font-size: 20px;
    margin: 16px;
    width: 250px;
    padding: 16px 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--grey-yellow);
    font-family: Montserrat;
    color: white;
}

/* hangman */
.centerer{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.hangman{
    
    background-color: var(--grey-yellow);
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 400px;
    margin: auto;
    font-size: 24px;
    border-radius: 20px;
    color: white;
    /*display: none;
    */
    
    box-shadow: rgba(194, 193, 193, 0.25) 0px 30px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-container{
    
    text-align: center;
    padding: 20px;
}
.question{
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 10px;
}
.answer-box{
    margin-top: 10px;
    padding: 10px 30px 10px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: none;
}
input[type="submit"]{
    color: var(--grey-yellow);
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.hangman-container{
    
    position: relative;
    display: flex;
    justify-content: center;
}

.stickman{
    width: 50px;
    position: relative;
    margin-bottom: 60px;
}
.stickman .head{
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.stickman .body{
    border: solid ;
    height: 50px;
    width: 0.1px;
    display: flex;
    margin: auto;
}
.stickman .arm-left{
    border: solid ;
    height: 40px;
    width: 0.1px;
    position: absolute;
    left: 12px;
    top: 62px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.stickman .arm-right{
    border: solid ;
    height: 40px;
    width: 0.1px;
    position: absolute;
    left: 32px;
    top: 62px;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
.stickman .leg-left{
    border: solid ;
    height: 40px;
    width: 0.1px;
    position: absolute;
    left: 12px;
    top: 100px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.stickman .leg-right{
    border: solid ;
    height: 40px;
    width: 0.1px;
    position: absolute;
    left: 32px;
    top: 100px;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    
}
.timer{
    position: absolute;
    bottom: 0;
    right: 5%;
    transform: translateY(13%);
    -webkit-transform: translateY(13%);
    -moz-transform: translateY(13%);
    -ms-transform: translateY(13%);
    -o-transform: translateY(13%);
}
